.so-widget-sow-cta-default-8aebe6c20ab6 .sow-cta-base {
  border-color: #ffffff;
  background-color: #ffffff;
}
.so-widget-sow-cta-default-8aebe6c20ab6 .sow-cta-base .sow-cta-text {
  float: right;
}
.so-widget-sow-cta-default-8aebe6c20ab6 .sow-cta-base .so-widget-sow-button {
  float: left;
  margin-right: 1em;
}